
body {
background-color: rgb(38, 148, 133);
}

.keypadNum {
  margin: 2%;
}

.no-outline {
  border: 0px;
}

.right {
  float: right
}

.left {
   float: left
}

 .keypad-sumit {
   color: white;
    background-color: rgb(25, 139, 111) 
} 
 .keypad-sumit:hover{
    background-color: rgb(21, 120, 101) ;
} 